<!DOCTYPE html>
<html>
<head>
	
	{{ partial "head.html" . }}

</head>
<body>

	{{ partial "header.html" . }}

	{{ partial "slider.html" . }}

	{{ partial "wrapper.html" . }}

	{{ partial "feature.html" . }}

	<!-- {{ partial "service-home.html" . }} -->

	{{ partial "staff.html" . }}

	{{ partial "clients.html" . }}

	<!-- {{ partial "call-to-action.html" . }} -->

	{{ partial "testimonial.html" . }}

	{{ partial "work.html" . }}

	{{ partial "contact.html" . }}

	{{ partial "footer.html" . }}

</body>
</html>
